img {
  transition: transform .2s;
}

.img:hover { 
  transform: scale(1.1); 
}

.btn:hover {
  background-color: #F1E4C3;
}

.mainDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin: 30px 20px 20px 0px;
  justify-items: center;
  column-gap: 50px;
  width: 95vw;
  margin-left: 2.5vw;
}

.innerCat {
  margin: 20px 35px;
  display: flex;
  justify-content: center;
  padding: 5px;
}


.heading {
  text-decoration: underline;
  font-family: serif;
}

.outerCatDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.image1 {
  height: 65px;
  width: 65px;
  margin: 8px 0;
  border-radius: 50%;
  /* border: 1px solid black; */
  transition: transform .7s ease-in-out;
}

.image1:hover {
  transform: rotate(360deg);
}

.ctn {
  position: relative;
  width: 100%;
}


.img2 {
  object-fit: contain;
  opacity: 1;
  display: block;
  width: 100%;
  /* width: auto; */
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.middle {
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.ctn:hover .img2 {
  opacity: 0.7;
}

.ctn:hover .middle {
  opacity: 1;
}

.txt {
  background-color: rgba(1, 1, 1, 0.5);
  color: aqua;
  font-size: 15px;
  width: 100px;
}

.card-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn4:focus {
  color: red;
}

.inp2 {
  border-radius: 30px;
  padding: 2px 10px;
  background-color: #FFE7C1;
  border: 2px solid black;
  width: 15vw;
}

.head{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 40px 0px 40px;
  width: 93vw;
}


@media (max-width: 1200px) {
  .mainDiv {
      grid-template-columns: repeat(4, 1fr);
      /* margin: 20px 20px; */
      /* border: 1px solid red; */
      width: 140%;
      justify-items: center;
  }

  .outerCat{
    margin-left: 45px;
    /* border: 1px solid black; */
    width: 145vw;
    margin:10px 25px 0 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .innerCat{
    margin: 15px 20px;
    /* border: 1px solid red; */
    margin-left: 20px;
    width: 95vw;
  }
  
.outerCatDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}
.head{
  /* border: 1px solid red; */
  width: 140%;
}
.inp2{
  width: 12vw;
}
 .footer{
  width: 150vw;
 }
 .pagination{
width: 150vw;
 }
}

@media (max-width: 768px) {
  .mainDiv {
    display: grid;
      grid-template-columns: repeat(3, 1fr);
      /* margin: 15px 25px 0 50px; */
      border: 1px solid red;
      width: 157vw;
      /* justify-items: center; */
  }
  .card-body{
    width: 100%;
  }
  .row .card{
    width: 100%;
  }
  .heading {
      margin: 40px 0px 0px 20px;
      text-align: center;
  }
  /* .innerCat {
      margin: 10px 15px;
    width: 139vw;
      border: 1px solid red;
  } */
  .outerCat{
    /* border: 1px solid black; */
    width: 145vw;
    /* margin-left: 30px; */
    /* margin-right: -20px; */
  }

  .outerCatDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

  .inp2{
   width: 20vw;
  }
  .head{
    width: 148vw;

  }
  .footer{
    width: 177vw;
  }
  .pagination{
    width: 165vw;
  }
}

@media (max-width: 480px) {
  .mainDiv {
    display: grid;
      grid-template-columns: repeat(3,1fr);
      margin: 10px 20px 0 80px;
      width:265vw;
      justify-items: center;
  }

  .heading {
      margin: 30px 0px 0px 10px;
      text-align: center;
  }
  .innerCat {
      margin: 5px 10px;
  }
  .image1 {
      height: 50px;
      width: 50px;
  }
  .txt {
      font-size: 12px;
      width: 80px;
  }
  .head{
    
    width:265vw;
  }
  .outerCat{
    width: 260vw;
    margin-bottom: 50px;
  }
  .footer{
    width: 300vw;
  }
  .pagination{
    /* border: 1px solid red; */
    width: 100vw;
    margin-left: 90%;
  }
   .inp2{
   width: 45vw;
  }
  .img2 {
    width: 100%;
  }
  
}


@media (max-width: 320px) {
  .outerCat{
    margin-left: 40px;
  }
  .img2{
    width: 100%;
  }
  .pagination{
    margin-left: 75%;
  }
  .footer{
    width: 400vw;
  }
}
