body {
    font-family: Arial, Helvetica, sans-serif;
  }

  
  .column1 {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .img2{
    height: 350px;
    padding: 17px;
  }
  
  .column1 .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 40px 0 0 80px;
  }
  .cardDiv{
    /* border: 1px solid black ; */
    margin-right: 50px;
  }
  
  .about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    text-align: center;
    height: 300px;
    /* background-color: #474e5d; */
    background-color: #F1E4C3;
    color: #CD8D7A;
    border: 1px solid black;
    margin: 0 110px;
    /* margin-right: 150px; */
    padding-right: 170px;

  }
  .outerDiv{
    /* border: 1px solid red; */
    margin: 95px 40px;
   overflow: hidden;
  }
  
  .container2 {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title1 {
    color: grey;
    margin-bottom: 20px;
  }
  
  .button1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

  .img1{
    margin-top: -15px;
    margin-right: 50px;
    justify-self: center;
    height: 220px;
    width: 300px;
  }
  .imgDiv3{
    display: flex;
    justify-content: flex-end;
  }
  .paraDiv2::-webkit-scrollbar {
    display: none;
  }
  .para1{
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid #000; */
    text-align: left;
    font-size: larger;
    max-width: 650px;
    margin-top: -10px;
    height: 210px;
    padding: 5px;    
  }
  .shine {
    position: relative;
    font-size: 19px;
    line-height: 1.5;
    overflow: hidden;
  }
  .shine::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#F8FAE5 0%, rgba(255, 255, 255, 0) 100%);
    animation: shine 5s infinite;
    clip-path: polygon(0 100% , 0 100%, 100% 100%,  100% 0);
  }
  @keyframes shine {
    0% {
      left: -100%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 200%;
    }
  }
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
