.card2 .column1{
  /* float: left; */
  /* width: 33.3%; */
  /* margin: 20px; */
  margin: 20px 0;
  padding: 0 8px;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}


.img2{
  object-fit: cover;
    height: 200px;
    /* width: 300px; */
    /* padding: 17px; */
  }


.cardDiv {
  border: 5px solid black ;
  /* margin-right: 50px; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 90%;
  margin: 0 5%;
  overflow: scroll;
  margin-bottom: 50px;
}

.cardDiv::-webkit-scrollbar {
  display: none;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  /* padding: 50px; */
  height: 250px;
  /* background-color: #474e5d; */
  background-color: #F1E4C3;
  color: #CD8D7A;
  width: 80%;
  margin: 0 10%;
  /* margin-right: 150px; */
  /* padding-right: 170px; */

}

.outerDiv {
  /* border: 1px solid red; */
  margin: 95px 40px;
  overflow: hidden;
}

.container2 {
  padding: 10px 16px;
}

.container2 h2 {
  margin-top: 10px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title1 {
  color: grey;
  margin-bottom: 20px;
}

.button1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.img1 {
  /* margin-top: -15px; */
  /* margin-right: 50px; */
  justify-self: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imgDiv3 {
  display: flex;
  justify-content: flex-end;
  height: 250px;
  width: 100%;
}

/* .paraDiv2::-webkit-scrollbar {
  display: none;
} */
.paraDiv2{
  border: 5px solid #6E5034;
  /* margin-top: -15px; */
  width: 100%;
    height: 250px;
  padding: 5px;
}



.para1 {
  display: flex;
  /* justify-content: flex-end; */
  /* border: 1px solid #000; */
  text-align: left;
  font-size: larger;
  height: 250px;
  /* max-width: 650px; */
  margin-top: -10px;
  /* height: 210px; */
  padding: 5px;
}


@media (max-width: 1200px) {
  .para1 {
    overflow: scroll
  }

.cardDiv {
  border: 5px solid black ;
  /* margin-right: 50px; */
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 90%;
  margin: 0 5%;
  margin-bottom: 50px;
}


}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

@media (max-width: 768px) {
 .card2{
  width: 90%;
 }
 .container2 .email{
   white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis; 
 }
 .cardDiv {
        border: 5px solid black;
        /* margin-right: 50px; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin: 0 5%;
        margin-bottom: 50px;
 }
}
