.topDiv{
    border: 1px solid #CD8D7A;
    display: flex;
    align-items: center;
    height: 650px;
    width: fit-content;
    margin-bottom: 50px;
}
.leftDiv{
    height: 100%;
}
.image3{
    height: 649px;
    width: 350px;
}
.form{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 883px;
}
.hidden{
    visibility: hidden;
}
.image2{
    margin-top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 80px;
    /* border: 1px solid red; */
}
.image2:hover, .para:hover{
    opacity: 0.5;
}
.para{
    margin-bottom: -30px;
}
.imgDiv1{
    background-color: #FDF0D1;
    border: 1px solid #CD8D7A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 100px;
    cursor: pointer;
    border: 1px solid black;
}
.fitimage{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.outerimgdiv{
    /* border: 1px solid red; */
    height: 100px;
}
.listitem{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 100px;
}
.ul{
    padding-top: 30px;
}
.dropdown{
    border: 1px solid #CD8D7A;
    width: 400px;
    margin-top: -7px;
    margin-bottom: 5px;
    background-color: #FDF0D1;
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    .topDiv {
        flex-direction: column;
        height: auto;
        width: 80%;
    }
    .image3 {
        width: 100%;
        height: auto;
    }
    .form {
        width: 100%;
        height: auto;
    }
    .dropdown {
        width: 100%;
    }
      .leftDiv, .image3{
        width: 100%;
        height: 40vh;
        object-fit:cover;
    }
        .imgDiv1 {
        width: 100%;
        /* height: auto; */
    }
}

@media (max-width: 768px) {
    .topDiv {
        flex-direction: column;
        height: auto;
        width: 80%;
    }
    .image2 {
        /* border: 1px solid red; */
        /* margin-top: 10px; */
        width: 30%;
        /* height: auto; */
    }
    .form {
        width: 100%;
        height: auto;
    }
    .imgDiv1 {
        width: 100%;
        /* height: auto; */
    }
    .dropdown {
        width: 100%;
    }
    .leftDiv, .image3{
        width: 100%;
        height: 40vh;
        object-fit:cover;
    }
}

@media (max-width: 480px) {
    .topDiv {
        flex-direction: column;
        /* height: auto; */
        width: 100vw;
        margin:0 0 20px 70px;
    }
    .imgDiv1 {
        width: 100%;
        /* height: auto; */
    }

    .image2 {
        margin-top: 10px;
        width: 30%;
        /* height: 45px; */
    }
    .para {
        margin-bottom: 0;
        text-align: center;
    }
    /* .ul {
        padding-top: 10px;
    } */
      .leftDiv, .image3{
        width: 100%;
        height: 40vh;
        object-fit:cover;
    }
    ul{
        width: 80%;
        /* margin-left: 60px; */
    }
    ul li{
        width: 80%;
    }
}
