.topDiv{
    border: 1px solid #CD8D7A ;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 650px;
    width: fit-content;
    margin-bottom: 50px;

}
.leftDiv{
    /* border: 1px solid red ; */
    /* width: 50px; */
    height: 100%;

}
.image3{
    /* border: 1px solid red ; */
    /* width: 50px; */
    height: 649px;
    width: 350px;
    /* margin-top: 10px; */
}

.form{
    /* border: 1px solid red ; */
    /* display :flex; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* margin: 40px; */
    height: 100%;
    width: 883px;
}
.hidden{
    visibility: hidden;
}

.image2{
    margin-top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 80px;
}

.image2:hover, .para:hover{
    opacity: 0.5;
}

.para{
    margin-bottom: -30px;
    /* margin-left: -70px; */
}
.imgDiv1{
    background-color: #FDF0D1;
    border: 1px solid #CD8D7A ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 100px;
    cursor: pointer;
}
.fitimage{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.outerimgdiv{
    height: 70px;
}

.listitem{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 100px;
    /* justify-content: space-between; */
    /* align-items: center; */
}
.ul{
    padding-top:30px ;
}

/* .lstitmdiv{
    border: 1px solid black;
    height: 100%;
} */
.dropdown{
    border: 1px solid #CD8D7A ;
    width: 400px;
    margin-top:-7px ;
    margin-bottom: 5px;
    /* margin-left: 50px; */
    background-color: #FDF0D1;
}

