.allProdDiv{
    margin: 100px 40px;
}
.freshfood{
    margin-bottom: 100px;
}



table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
  }
  /* th, td {
    background-color: #E7D4B5;
  } */

  .pftr:nth-child(odd) {
    background-color: #FCE7C8;
  }
  
  .pftr:nth-child(even) {
    background-color: #D9C6B8;
  }

  .searchItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    padding-bottom: 15px;
  }