.image4{
    background-color: none;
    height: 45px;
}
.btn6{
    position: fixed;
    left: 38px;
    top: 87%;
    cursor: pointer;
    width: 65px;
    height: 50px;
}

.btn6 {
    animation: water-wave 3s linear infinite;
  }
  
  @keyframes water-wave {
    0% {
      border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
    50% {
      border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
    }
    100% {
      border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
    }
  }

.floatDiv{
    /* border: 1px solid red; */
    z-index: 1000;
    position: fixed;
    left: 57px;
    top: 32.5%;
    width: 500px;
    height: 400px;
    background-color:antiquewhite;
    padding: 20px;
    border-radius: 20px;
    overflow: scroll;
  }
  .floatDiv::-webkit-scrollbar {
      display: none;
    }
  
  .content1{
    height: 150px;
    margin: 20px 10px;
    padding: 5px;
    width: 42 0px;
    /* overflow-y: scroll; */
    /* border: 1px solid red; */
}


.icon2{
    position: absolute;
    font-size: 30px;
    right: 7%;
    margin-top: 5px;
    color: lightseagreen;
    cursor: pointer;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid red; */
  margin: 10px;
}

.ques {
  border: 1px solid red;
  padding: 4px 10px;
  border-radius: 20px;
  max-width: 400px; 
  word-wrap: break-word; 
  word-break: break-all;
  margin: 4px 0px;
  margin-right: 10px;
  font-weight: 700;
}


.ques:hover{
  background-color:bisque;
  cursor: pointer;
}