.main {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    height: fit-content;
    margin-top: 70px;
}

.left {
    /* border: 1px solid red; */
    margin: 20px 0px 0px 35px;
}
.left h1{
    width: 94vw;
    /* border: 1px solid red; */
    font-family: Georgia, serif;    
}
.left h5{
    width: 94vw;
    /* border: 1px solid red; */
    font-family: cursive;
}

.right {
    /* border: 1px solid red; */
    margin: 20px 38px 0px 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px 0px 0px 20px;
    width: 94vw;
    justify-items: center;
    
}

/* .img {
    height: 120px;
} */

.rating1{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 57%;
    left: 65%;
    font-size: 20px;
    /* border: 1px solid red; */
    height: 20px;

}
.catRat{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
    height: 30px;

}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    .main {
        grid-template-columns: 1fr;
        margin-top: 70px;
        /* border: 1px solid red; */
        width: 150vw;
    }
    /* .left, .right {
        margin: 20px auto;
        width: 90%;
    } */
     .left{
        width: 140vw;
        /* border: 1px solid red; */

     }
    .right {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        padding: 10px;
        justify-items: center;
        width: 140vw;
        margin-left: 40px;
    }
    .left h1{
    width: 140vw;
    /* border: 1px solid red; */
}
    .left h5{
    width: 140vw;
    /* border: 1px solid red; */
}

}

@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
        margin-top: 70px;

    }
    .left {
        margin: 10px 0 10px 20px ;
        width: 100%;
    }
    .right {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        padding: 5px;
        width: 150vw;
        margin-left: 20px;
        justify-items: center;
        /* border: 1px solid red; */
    }
    .left h1{
    width: 150vw;
    /* border: 1px solid red; */
}
    .left h5{
    width: 150vw;
    /* border: 1px solid red; */
}

}

@media (max-width: 480px) {
    .main {
        /* grid-template-rows: 1fr; */
        /* margin-top: 20px; */
        /* border: 1px solid red; */
        width: 220vw;
        margin-left: 20px;
    }
    .left{
        /* margin: 5px auto; */
        width: 150vw;
        /* border: 1px solid red; */
    }
    .right {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        justify-items: center;
        width: 215vw;
    }
    /* .img {
        height: auto;
        width: 100%;
    } */
    .left h1{
    width: 215vw;
    /* border: 1px solid red; */
}
    .left h5{
    width: 215vw;
    /* border: 1px solid red; */
}

}
