.main {
    display: grid;
    width: 100%;
    /* grid-template-columns: 1fr 1fr; */
    height: fit-content;
    margin-top: 70px;
}

.left {
    /* border: 1px solid red; */
    margin: 20px 0px 0px 35px;
}
.left h1{
    width: 100%;
    /* width: 94vw; */
    /* border: 1px solid red; */
    font-family: Georgia, serif;    
}
.left h5{
    width: 90%;
    /* border: 1px solid red; */
    font-family: cursive;
}

.right {
    /* border: 1px solid red; */
    /* margin: 20px 38px 0px 35px; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* padding: 20px 0px 0px 20px; */
    width: 100%;
    margin-left: 5px;
    justify-items: center;
    
}

/* .img {
    height: 120px;
} */

.rating1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    font-size: 20px;
}
.priceRat{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 5px;
}
.catRat{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
    height: 30px;

}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    .main {
        grid-template-columns: 1fr;
        margin-top: 70px;
        /* border: 1px solid red; */
        width: 150vw;
    }
    /* .left, .right {
        margin: 20px auto;
        width: 90%;
    } */
     
    .right {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        padding: 10px;
        justify-items: center;
        width: 90%;
        /* margin-left: 40px; */
    }

    .left h5{
    width: 95%;
    /* border: 1px solid red; */
}

}

@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
        margin-top: 70px;

    }
    .left {
        margin: 10px 0 10px 20px ;
        margin-left: -30px;
        width: 100%;
    }
    .right {
        grid-template-columns: repeat(4,1fr);
        /* grid-template-rows: auto; */
        /* padding: 5px; */
        width: 100%;

        margin-left: 50px;
        justify-items: center;
        /* border: 1px solid red; */
    }
    .left h1 , .left h5{
        margin-left: 60px;
    /* border: 1px solid red; */
}

.slide{
    margin-left: 60px;
}

}

@media (max-width: 480px) {
    .main {
        /* grid-template-rows: 1fr; */
        /* margin-top: 20px; */
        /* border: 1px solid red; */
        width: 280vw;
        margin-left: 30px;
    }
    .left{
        /* margin: 5px auto; */
        width: 100%;
        margin-left: -50px;
        /* border: 1px solid red; */
    }
    .left h1{
        /* margin: 5px auto; */
        width: 100%;
        /* border: 1px solid red; */
    }
    .left h5{
        /* margin: 5px auto; */
        width: 90%;
        /* border: 1px solid red; */
    }
    .right {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        justify-items: center;
        width: 85%;
    }
    /* .img {
        height: auto;
        width: 100%;
    } */
    .navbar-nav{
        margin-top: 10px;
    }

}

@media (max-width: 320px) {
    /* .navbar-nav{
        margin-top: 20px;
    } */
     .main{
        /* grid-template-rows: 1fr; */
        /* margin-top: 20px; */
        /* border: 1px solid red; */
        width: 400vw;
        margin-left: 30px;
     }

    .left{
        /* margin: 5px auto; */
        width: 100%;
        margin-left: -50px;
        /* border: 1px solid red; */
    }
    
    .right {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        justify-items: center;
        width: 80%;
    }
    /* .img {
        height: auto;
        width: 100%;
    } */
   

}
