.maindiv{
    border: 1px solid #643843;
    margin: 60px 35px 0 35px ;
    /* width: 100vw; */
    width: 96%;
    

}

.imgDiv .img{
    height: 150px;
    width: 200px;
    object-fit: cover;
}

.buttonDiv{
    height: 20px;

}
.itag{
    margin-right: 30px;
    /* border: 1px solid #643843; */
    width: 20px;
    /* margin-right: 20px; */
    height: 20px;
    background-color: antiquewhite;
    padding-left: 3px;

    
}
.itag1{
    /* padding-right: 30px; */
    /* border: 1px solid #643843; */
    height: 20px;
    background-color: antiquewhite;
    width: 18px;


}

.itag:hover,.itag1:hover{
    background-color:#FFE7C1;
}
.btnInnerDiv{
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    height: 20px;

}

.slider{
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
    height:fit-content;
    /* border: 1px solid #643843; */
    
    
    
}
.slider::-webkit-scrollbar {
    display: none;
  }

  .sliderCards{
    /* width: 300px; */
    /* height: 330px; */
    /* border: 1px solid #643843; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    /* width: 300px; */
    height: fit-content;
    margin-right:12px ;
    margin-top: 10px;
    padding: 5px;

}
.imgDiv{
    height: 150px;
    top: 0;
    width: 200px;
    /* border: 1px solid black; */
}
.content{
    /* border: 1px solid black; */
    margin-top: 10px;
    height: 100px;
}
.name{
    font-size:19px ;
     padding:0 10px;
    max-width:200px ;
    /* border:1px solid #643843 ; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name::-webkit-scrollbar {
    display: none;
}


/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    .maindiv{
    border: 1px solid #643843;
    margin: 60px 35px 0 35px ;
    width: 142vw;

}

}

@media (max-width: 768px) {
    .maindiv{
    border: 1px solid #643843;
    /* margin: 60px 35px 0 35px ; */
    width: 154vw;
}

}

@media (max-width: 480px) {
 .maindiv{
    width: 265%;
 }

}
@media (max-width: 320px) {
 .maindiv{
    width: 350%;
 }
 .head{
    width: 360vw;
 }
 .outerCat{
    width: 360vw;
 }
 .mainDiv{
    width: 360vw;
 }
 .pagination{
    width: 100vw;
    margin-left: 150%;
 }

}
