@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  height: 100vh;
  width: 100vw;
}

.butn{
    border-radius: 100px;
    padding: 3px 10px;
}

.butn:hover{
  background-color: lightgray;
}

.loader1{
  z-index: 99;
  position: fixed;
  left: 49%;
  top: 50%;
} 
.loader2{
    /* border: 1px solid red ; */
    margin: 20px 10px;
    position: absolute;
    display: flex;
    /* width: 400px; */
    /* height: 210px; */
    justify-content: center;
    align-items: center;
}
.container1{
  width: 100vw;
  height: 100vh;
  /* border: 1px solid red ; */
  background-image: url('https://images.unsplash.com/photo-1631396891150-ece69651171e?q=80&w=1989&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
  background-size:fill;
  background-repeat: no-repeat;
  filter: blur(3px);
  position: fixed;
  z-index: 99;
}
.button3 {
  z-index: 99;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #FFE7C1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;  
  transform: translateY(20px);  
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.button3.show {
  opacity: 1;  
  transform: translateY(0);  
}

.button3:hover {
  background-color: #FFEDD8 ;
}

.button3 {
  animation: water-wave 3s linear infinite;
  cursor: pointer;
}

@keyframes water-wave {
  0% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
}
.comment{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: absolute;
  right: 50px;
  top: -20px;
}

.btnDiv1{
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}
